@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/RobotoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$lightColor: #EEEEEE;
$lightGrayColor: #686D76;
$grayColor: #373A40;
$primaryColor: #DC5F00;

$firstFont: 'Roboto';
$bgColor: #141429;
$textColor: #FFF;