.header__logo {
  a {
    color: $lightColor;
  }
}

.header__menu {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

    .nav-item {
      margin-right: 18px;
    }

    .nav-link {
      font-family: $firstFont;
      font-size: 16px;
      line-height: 18.75px;
      text-decoration: none;
      color: $textColor;
      border: 2px solid transparent;
      border-radius: 15px 15px 15px 0;
      padding: 6px 16px;

      &:hover {
        color: rgba($textColor, 0.93);
        border-color: rgba($textColor, 0.95);
        transition: border 0.5s ease-in-out, color 0.3s ease-in-out;
      }

      &:active {
        background: $textColor;
        color: $bgColor;
      }
    }

    .blyat {
      position: absolute;
      top: 50%;
      right: 0;
    }

    .dropdown-menu {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

      .dropdown-item {
        color: #333;

        &:hover {
          background-color: #007bff;
          color: #fff;
        }
      }
    }
  }
}
