.header {
  position: fixed;
  z-index: 100;
}

.header__logo {
  a {
    color: $lightColor;
  }
}

.header__menu {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: 0;

    .nav-item {
      padding: 8px 16px 7px;
      position: relative;
      display: inline-block;
      margin-right: 14px;
      overflow: hidden;
      &::after {
        content: attr(data-text);
        position: absolute;
        z-index: -1;
        left: 0;
        top: 100%;
        width: 100%;
        color: $primaryColor;
        font-size: 16px;
        text-align: center;
        transition: transform 0.3s ease;

        @media (min-width: breakpoint-min(xxxl)) {
          font-family: $firstFont;
          font-size: 18px;
        }
      }
      &:hover span {
        @media (hover: hover) {
          transform: translateY(-60%);
        }
      }
      &:hover::after {
        @media (hover: hover) {
          transform: translateY(-50%);
          top: 60%;
        }
      }

      span {
        display: block;
        transition: transform 0.4s ease;
      }

      @media (min-width: breakpoint-min(xl)) {
        margin-right: 18px;
      }
    }

    .nav-link {
      height: 62px;
      margin-bottom: -31px;
      font-family: $firstFont;
      font-size: 16px;
      line-height: 18.75px;
      text-decoration: none;
      color: $textColor;

      @media (min-width: breakpoint-min(xxxl)) {
        font-size: 18px;
        line-height: 20.75px;
      }
    }
  }
}

.header__menu-wrapper {
  @media (min-width: breakpoint-min(xl)) {
    width: calc(100% - 460px);
    max-width: 660px;
  }
}

#menu-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -15px;
    margin-right: -15px;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: $primaryColor;
    border-radius: 50% 0 50% 50%;
    transition: all 0.35s ease-in-out;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -7px;
    margin-right: -20px;
    z-index: -1;
    width: 60px;
    height: 60px;
    background: rgba($black, 0.4);
    border-radius: 50% 0 50% 50%;
    transition: background 0.2s ease-in-out;
  }
  &:hover:before {
    @media (hover: hover) {
      background: rgba($black, 0.55);
    }
  }

  .bar1, .bar2, .bar3 {
    position: relative;
    z-index: 2;
    width: 34px;
    height: 3.67px;
    background-color: $gray-200;
    margin: 5.5px 0;
    transition: 0.45s;
  }

  &.touch {
    &:after {
      width: 1520px;
      height: 1520px;
      margin-top: -650px;
      margin-right: -650px;
    }

    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-8px, 5px) ;
      transform: rotate(-45deg) translate(-8px, 5px) ;
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -6px) ;
      transform: rotate(45deg) translate(-8px, -6px) ;
    }
  }
}

.second-menu {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  font-family: $secondFont;
  font-size: 24px;
  line-height: 28.98px;
  font-weight: 400;
  &.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s ease-in, opacity 0.5s ease-in, margin-left 0.3s ease-in-out;
    transition-delay: 200ms;

    @media (max-width: breakpoint-max(xl)) {
      width: 100%;
      height: calc(100vh - 150px);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
    }

    @media (min-width: breakpoint-min(xl)) {
      margin-left: 8%;
    }
  }

  .nav-link {
      margin-bottom: 38px;
      text-align: center;
  }

  .navbar-nav {
    @media (max-width: breakpoint-max(md)) {
      margin-top: 100px;
    }
  }

  @media (max-width: breakpoint-max(xl)) {
    top: 130px;
    left: 0;
  }

  @media (min-width: breakpoint-min(xl)) {
    margin-top: 19%;
    margin-left: 30%;
    font-size: 32px;
    line-height: 36.98px;
  }
}
