.prize-button {
  width: 110px;
  height: 110px;
  border: 5px solid $textColor;
  border-radius: 50%;
  background: $textColor;
  transition: background 0.3s ease-in-out;
  &.active {
    background: transparent;
  }
  &:not(.active):hover {
    cursor: pointer;
    background: rgba($textColor, 0.7);
  }

  img {
    object-fit: cover;
  }

  @media (min-width: breakpoint-min(xl)) {
    width: 150px;
    height: 150px;
  }
}

.prize-box {
  display: none;
  padding: 38px 15px 18px;
  border-radius: 20px;
  text-align: center;
  &.active {
    display: flex;
  }

  &__h {
    font-family: $secondFont;
    font-size: 42px;
    font-weight: 400;
    line-height: 48.54px;
  }

  &__p {
    font-size: 28px;
    line-height: 32.81px;
    font-weight: 400;
  }

  img {
    width: 100%;
    height: auto;
  }

  @media (min-width: breakpoint-min(xl)) {
    padding: 58px 35px 38px;
    text-align: left;
    border: 3px solid $textColor;
  }
}

.prize-box__img {
  min-width: 148px;

  @media (min-width: breakpoint-min(xl)) {
    margin-left: 31px;
  }
}